body {
    margin: 0 auto;
    font-family: 'Domine', serif;

}

main {
    display: grid;
    margin: 10px;
    grid-template-columns: minmax(90px, 1fr);
    justify-items: center;
}

#newYorkTimes {
    font-style: italic;
}

header {
    width: 100%;
    margin: -1em;
    background: url("https://github.com/drewlearnsabout/Example-Informative-Page/blob/master/image.jpg?raw=true");   
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 1em;
    color: white;
    border-bottom: 1px solid gray;
}

footer {
    width: 100%;
    background: rgb(19,8,125);
    background: linear-gradient(59deg, rgba(19,8,125,1) 0%, rgba(153,163,208,1) 52%, rgba(186,5,5,1) 100%);
    display: grid;
    justify-items: center;
    color: white;
    border-top: 1px solid gray;
}

.center {
    text-align: center;
}

#facts {
    display: grid;
    margin: 1em 0 1em 0;
    grid-gap: 1em 10em;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
}

.boxes {
    background: rgb(19,11,92);
    background: linear-gradient(48deg, rgba(19,11,92,1) 1%, rgba(77,85,236,1) 83%, rgba(255,255,255,1) 100%);
        color: white;
    border: 1px solid blue;
    border-radius: 1em;
    padding: 1em;
}

.infoBox {
    background: rgb(92,11,11);
    background: linear-gradient(48deg, rgba(92,11,11,1) 1%, rgba(236,77,77,1) 83%, rgba(255,255,255,1) 100%);    color: white;
    border: 1px solid red;
    border-radius: 1em;
    padding: 1em;
}